.fira-sans-normal> {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Header Style */
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.b-margin{
    /* margin: 31px 160px; */
    background-color: #F5F5F5;
}
.bangladeh-2.o{
    font-size: 32px;
    font-weight: 800;
    font: #0E0E0E;
}
.sign-in-btn{
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    color: #006A50;
    background-color: white;
    border: 1px solid;
}
.first-banner-container{
    display: flex;
    background-color: #C6E4D6;
    justify-content: space-between; 
    border-radius: 15px;
    align-items: center;
    padding: 60px;
    margin-bottom: 80px;
}
.banner-bd{
    font-size: 24px;
    color: #0E0E0E;
    opacity: 50%;
}
.first-banner-text{
    font-size: 56px;
    font-weight: bold;
}
.first-banner-btn{
    background-color: #006A50;
    color: white;
    font-size: 18px;
    padding: 17px 34px;
    border-radius: 6px;
}
.first-banner-img{
    margin-right: 20px;
}
.second-banner{
    font-size: 40px;
    font-weight: 700;
}
.innovation, .sustainability, .infrastructure, .empowerment{
    font-size: 20px;
    font-weight: 700;
    color: #0E0E0E;
    opacity: 80%;
}
.second-banner-conteiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}
.innovation-conteiner, .sustainability-conteiner, .infrastructure-conteiner, .empowerment-conteiner{
    padding: 24px;
    background-color: white;
    border-radius: 16px;
    width: 302px;
    height: 244px;
}
.second-banner-descriptio{
    color: #0E0E0E;
    opacity: 70%;
}
.thrd-banner-div{
    margin-top: 80px;
}
.thrd-banner{
    font-size: 40px;
    font-weight: 700;
}

